.App {
  text-align: center;
}

h1 {
    font-size: 2.25rem;
    padding: 0em;
    margin: 0em;
    line-height: 1em;
    color: #bbb;
    margin-left: 1em;
    font: 'Garamond', serif;
}

h2 {
    margin-left: .25em;
    margin-right: .25em;
    margin-top: .25em;
    margin-bottom: 0em;
    font: 'Garamond', serif;
}

body{
  background-color: #222;
  font: 1em 'Garamond', serif;
 
}

.theater-wrapper {
    display: grid;
    grid-template-columns: 14% 24% 24% 24% 14%;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: auto;
    padding-right: auto;
    height: auto;
    /* border: solid; */
    
    
}

.theater-name {
    grid-column: 2 / span 3;
}

.grid {
    grid-column: 2 / span 3;
    /*display: flex;
    flex-flow: row wrap;*/
    border: solid;
    border-color: #a8a8a8;
    border-radius: .5em;
    border-width: 2px;
    position: relative;
    /*align-content: space-around;
    justify-content: space-around;*/
    background-color: #333;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.4);
            
}

.category-head {
    display: grid;
    grid-template-columns: 80% 20%
}

.category-name {
    grid-column: 1;
    justify-self: left;
    align-self: end;
    font-size: 1.75em;
    font-weight: 500;
}

.edit-button {
    grid-column: 2;
    justify-self: right;
    align-self: end;
}

.grid-item {
    border: solid;
    float: left;
    width: 90%;
    align-content: center;
    overflow-wrap: break-word;
    margin-top: .5em;
    margin-bottom: .5em;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #444466;
    color: #d8d8d8;
    border: solid;
    border-color: #222;
    border-radius: .5em;
    padding-left: .25rem;
    padding-right: .25rem;
    padding-top: .5rem;
    padding-bottom: 1rem;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    
   
}

.faction-box {
    border: solid;
    border-color: #000;
    background-color: #bbd;
    margin-top: .25rem;
    margin-bottom: .25rem;
    padding: .25rem;
    display: grid;
    grid-template-columns: minmax(1em, 1fr) 6em 3em;
    justify-content: center;
    align-content: bottom;
    color: #222;
    
}

.faction-box:hover {
    background-color: #ddf;
    border-color: #ccc;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    box-shadow: 0px 0px 4px 2px rgba(207, 207, 255, 0.25);
}

.faction-name {
    font-weight: 600;
    align-self: center;
    position: relative;
}

.faction-tier {
    font-weight: 500;
    font-style: italic;
    align-self: center;
    position: relative;
}

.faction-rep {
    font-weight: 700;
    font-size: 1 rem;
    align-self: center;
    margin-left: .75rem;
    padding-right: .75rem;
    background-color: #ddf;
}

.btn {
    background-color: rgba(68, 68, 102, 0);
    border-style: none;
}

.btn:hover {
    background-color: rgba(88, 88, 142, 0.8);
}

.btn:focus {
    background-color: rgba(68, 68, 102, 0);
    border-style: none;
    box-shadow: 0 0 0 0.25rem rgba(68, 68, 102, 0);
}