.App {
  text-align: center;
}

h1 {
    font-size: 2.25rem;
    padding: 0em;
    margin: 0em;
    line-height: 1em;
    color: #bbb;
    margin-left: 1em;
    font: 'Garamond', serif;
}

h2 {
    margin-left: .25em;
    margin-right: .25em;
    margin-top: .25em;
    margin-bottom: 0em;
    font: 'Garamond', serif;
}

body{
  background-color: #222;
  font: 1em 'Garamond', serif;
 
}

.theater-wrapper {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: auto;
    padding-right: auto;
    height: auto;
    border: solid;
    
    
}

.theater-name {
    grid-column: 2 / span 3;
}

.theater {
    grid-column: 2 / span 3;
    display: flex;
    flex-flow: row wrap;
    border: solid;
    border-color: #aaa;
    border-radius: .5em;
    border-width: 2px;
    position: relative;
    align-content: space-around;
    justify-content: space-around;
    background-color: #333;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.4);
            
}

.category {
    border: solid;
    
    width: 30%;
    align-content: center;
    overflow-wrap: break-word;
    margin-top: .5em;
    margin-bottom: .5em;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #444466;
    color: #d8d8d8;
    border: solid;
    border-color: #222;
    border-radius: .5em;
    padding-left: .25rem;
    padding-right: .25rem;
    padding-top: .5rem;
    padding-bottom: 1rem;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    
   
}

.faction-box {
    border: solid;
    border-color: #000;
    background-color: #bbd;
    margin-top: .25rem;
    margin-bottom: .25rem;
    padding: .25rem;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    color: #222;
    
}

.faction-box:hover {
    background-color: #ddf;
    border-color: #ccc;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    box-shadow: 0px 0px 4px 2px rgba(207, 207, 255, 0.25);
}

.faction-name {
    font-weight: 600;
    align-self: flex-start;
}

.faction-tier {
    font-weight: 500;
    font-style: italic;
    align-self: flex-end;
    
}

.faction-rep {
    font-weight: 600;
    align-self: flex-end;
    
}
